table {
		border: 10px inset aqua;
		font-size: 22px;
		padding: 5px;
		margin: 20px;
}
caption {
	font-size: 25px;
	color: darkred;
	margin-bottom: 5px;
}
tr {
	height: 70px;
}
th {
	border: 2px solid darkred;
	width: 150px;
	padding: 5px 0px;
	color: blue;
}
td {
	border: 2px dotted navy;
	text-align: center;
}
thead, tfoot {
	background: url(그림.png);
	background-size: cover;
}
thead th {
	vertical-align: top;
}
tfoot th {
	vertical-align: bottom;
} /* vertical-align은 셀 세로 정렬 */
