h1 {
	text-align: center; /*가운데 정렬*/
}
h2 {
	text-transparent: uppercase; /*대문자*/
	word-height: 20pt;
}
h3 {
	letter-spacing: 10pt; /* 글자 간격 */
	line-height: 50pt; /* 줄 간격 */
}
a {
	font-size: 25px;
	text-decoration: none;
} /* <a>는 text-decoration: underline;이 디폴트 */
.indent {
	text-align: justify; /*양쪽 정렬*/
	text-indent: 12pt; /*들여 쓰기*/
}
.ft {
	text-transparent: capitalize; /* 첫 알파벳 대문자 */
	text-decoration: line-through; /* 취소선 */
	font-size: 1.5em;
}